trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  storageAccountName: $(AZURE_STORAGE_ACCOUNT_NAME)
  subscriptionName: $(AZURE_SUBSCRIPTION_NAME)
  buildFolder: build

steps:
  - checkout: self

  - task: NodeTool@0
    displayName: 'Install Node.js'
    inputs:
      versionSpec: '23.x'
  
  - script: |
      npm install
    displayName: 'Install dependencies'

  - script: |
      npm run build
    displayName: 'Build React app'

  - task: AzureCLI@2
    displayName: 'Upload files to Azure Blob Storage'
    inputs:
      azureSubscription: $(subscriptionName)
      scriptType: 'bash'
      scriptLocation: 'inlineScript'
      inlineScript: |
        az storage blob upload-batch \
          --account-name $(storageAccountName) \
          --destination '$web' \
          --source $(buildFolder) \
          --overwrite