name: Terraform Deploy MFEs

on:
  workflow_dispatch

jobs:
  terraform:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    env:
      TF_VAR_client_id: ${{ secrets.AZURE_CLIENT_ID }}
      TF_VAR_client_secret: ${{ secrets.AZURE_CLIENT_SECRET }}
      TF_VAR_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
      TF_VAR_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      TF_VAR_resource_group_name: mfe-dev-rg
      TF_VAR_location: brazilsouth
      TF_VAR_storage_account_name: mfestoragedev123
      TF_VAR_containers: '["host","remotes-home","remotes-list-movies","remotes-view-movie"]'

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.0

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -out=tfplan

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan
